*.egg-info
*.gz
*.pyc
*.zip

__pycache__

/.env
/.my.cnf

/build
/dev-requirements.txt
/dist
/docs
/Pipfile.lock
/requirements.txt
/tests

/.cache
/.eggs
/.mypy_cache
/.packages
/.pip
/.project
/.pydevproject
/.settings
/.venv*
/.virtualenv*
/.vscode

.DS_Store
