*.pyc
*.sqlite3
.DS_Store
/project/secret.txt
/project/settings_db.py
/project/settings_dirs.py
/project/settings_email.py
/project/settings_local.py
/project/settings_log.py
/.mypy_cache
/.project
/.pydevproject
/.settings
/.virtualenv*
/.vscode
