*.pyc
*.sqlite3

__pycache__

/project/secret.txt
/project/settings_db.py
/project/settings_dirs.py
/project/settings_email.py
/project/settings_local.py
/project/settings_log.py

/requirements.txt
/Pipfile.lock

/.cache
/.download
/.mypy_cache
/.pip
/.project
/.pydevproject
/.settings
/.venv*
/.virtualenv*
/.vscode

.DS_Store
