[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-admin-sortable2 = "*"
django-createuser = "*"
django-database-for-apps = "*"
django-environ = "*"
django-migrations-ignore-attrs = "*"
django-model-utils = "*"
django-prometheus = "*"
django-pyc = "*"
django-tz-detect = "*"
django-werkzeug-debugger-runserver = "*"
djangorestframework = "*"
natural-keys = "*"
pyyaml = "*"

[dev-packages]
bandit = "*"
behave = "*"
black = "==19.3"
django-debug-toolbar = "*"
doc8 = "*"
expects = "*"
flake8 = "*"
mypy = "*"
pygments = "*"
pylint = "*"
pylint-django = "*"
pyquery = "*"
safety = "*"
sqlparse = "*"
werkzeug = "*"
