# Database for development
# note: sqlite doesn't work correctly with South

import os
from settings_dirs import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

