# Logging

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s'
        },
        'simple': {
            'format': '%(levelname)s %(asctime)s %(module)s %(message)s'
        },
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'console':{
            'level':'DEBUG',
            'class':'logging.StreamHandler',
            'formatter': 'simple'
        },
    },
    'loggers': {
        'syslog_errors': {
            'handlers': ['mail_admins','console'],
            'level': 'ERROR',
            'propagate': False,
        },
        'syslog_info': {
            'handlers': ['console'],
            'level': 'INFO',
            'propagate': True,
        },
        'syslog_debug':{
            'handlers': ['console'],
            'level': 'DEBUG',
            'propagate': True,
        },

    }
}
