# Settings for development

DEBUG = True

TEMPLATE_DEBUG = True

EXTRA_BASE_APPS = (
    'debug_toolbar',
    'devserver',
)

LOCAL_APPS = (
)

DEVSERVER_MODULES = (
    'devserver.modules.sql.SQLSummaryModule',
    'devserver.modules.profile.ProfileSummaryModule',

    # Modules not enabled by default
    # 'devserver.modules.sql.SQLRealTimeModule',
    # 'devserver.modules.ajax.AjaxDumpModule',
    # 'devserver.modules.profile.MemoryUseModule',
    # 'devserver.modules.cache.CacheSummaryModule',
    # 'devserver.modules.profile.LineProfilerModule',
)

DEBUG_TOOLBAR_PATCH_SETTINGS = True

ALLOWED_HOSTS = ['*']
